p, label, li{
    font-weight: 200;
}

.btn{
    width: 100%;
}

.container{
    height:550px;
    width:900px;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator button {
    background-color: #e9ecef;
    width: 1rem;
    height: 1rem;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 50%;
}