.edit-info {
  padding: 0;
  margin: 1rem 0;
}

h5, h6 {
  margin-top: 1rem;
}

h6 {
  color: var(--bs-secondary);
  font-family: Inter, sans-serif;
  padding-bottom: 5px;
  font-weight: bold;
}

label {
  font-family: Inter, sans-serif;
  font-weight: 400;
}

input {
  font-family: Inter, sans-serif;
  font-weight: 400;
  border: 1px solid #21325B33;
}

::placeholder {
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: #21325B33;

}

.InputContainer {
  height: 40px;
  width: 40%;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 15px;
  border: 1px solid #21325B33;
}

.input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(255, 81, 0);
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}

.searchIcon {
  width: 13px;
}

.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}


.searchIcon path {
  fill: rgb(114, 114, 114);
}

.navegation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0;
}


.clickable {
  text-decoration: underline;
  cursor: pointer;
}

.clickable:hover {
  color: #0056b3;
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.cont-style{
  margin-left: 5%;
  margin-right: 5%;
}
