<!-- Background image -->
<img id="wallpaper-img" class="d-none d-md-block" src="/../assets/pages/landing-page/wallpaper-gen-info.svg" alt="wallpaper">
<div class="d-md-none" style="background-color: black;">

</div>
<div class="text-center " >
    <h1 class="pt-5 title" style="color:antiquewhite">Bienvenido a StockWage</h1>
    <h5 class="subtitle">La clave para un negocio más eficiente</h5>
    <div>
        <div class="px-5">
            <p>Calcula salarios de forma precisa y eficiente con nuestra herramienta.</p>
        </div>
        <div class="px-5">
            <p>Optimiza tu proceso de ventas, desde pedido hasta facturación directa.</p>
        </div>
        <div class="px-5">
            <p>Gestiona tus finanzas con claridad y control total en cada transacción.</p>
        </div>
        <div class="px-5">
            <p>Controla y supervisa tus inventarios de manera fácil y efectiva.</p>
        </div>
    </div>
</div>
