<!-- Background image -->
<img id="wallpaper-img" class="d-none d-md-block" src="/../assets/pages/landing-page/general-info/wallpaper-gen-info.svg" alt="wallpaper">
<div class="d-md-none" style="background-color: black;">

</div>
<div class="text-center " >
    <h1 class="pt-5 title" style="color: #21325B; font-weight:600;">Bienvenido a StockWage</h1>
    <h5 class="pt-1 pb-5 title" style="color: #21325B; font-weight:300;">La clave para un negocio más eficiente</h5>
    <div class="d-flex flex-wrap justify-content-center mx-1 align-items-stretch">
        <div class="d-flex flex-wrap col-lg-2 col-md-3 mb-4 mx-2">
            <div class="items px-4 bg-white rounded-2 h-100">
                <img class="small-img" src="/../assets/pages/landing-page/general-info/Payroll1.svg" alt="Payroll">
                <p class="info">Calcula salarios de forma precisa y eficiente con nuestra herramienta.</p>
                <h6 class="text-white p-2 rounded-3 mx-5" style="background-color: #51BDFF; font-weight:500;">Nomina</h6>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 mb-4 mx-2">
            <div class="items px-4 bg-white rounded-2 h-100">
                <img class="small-img" src="/../assets/pages/landing-page/general-info/TotalSales2.svg" alt="Payroll">
                <p class="info">Optimiza tu proceso de ventas, desde pedido hasta facturación directa.</p>
                <h6 class="text-white p-2 rounded-3 mx-5" style="background-color: #51BDFF; font-weight:500;">Ventas</h6>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 mb-4 mx-2">
            <div class="items px-4 bg-white rounded-2 h-100">
                <img class="small-img" src="/../assets/pages/landing-page/general-info/Accounting3.svg" alt="Payroll">
                <p class="info">Gestiona tus finanzas con claridad y control total en cada transacción.</p>
                <h6 class="text-white p-2 rounded-3 mx-5" style="background-color: #51BDFF; font-weight:500;">Contabilidad</h6>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 mb-4 mx-2">
            <div class=" items px-4 bg-white rounded-2 h-100">
                <img class="small-img" src="/../assets/pages/landing-page/general-info/Trolley4.svg" alt="Payroll">
                <p class="info">Controla y supervisa tus inventarios de manera fácil y efectiva.</p>
                <h6 class="text-white p-2 rounded-3 mx-5" style="background-color: #51BDFF; font-weight:500;">Inventario</h6>
            </div>
        </div>
    </div>
    
    
</div>
