@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Main container for the login form */
#main-container {
    width: 35vw;
    height: 40vw;
    position: fixed;

    /* Center the container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 1.5vh;
    border: 0.1vh solid #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-family: "Inter", sans-serif;
    font-size: 1.5vb;
}

/* Logo image styling */
#main-container img {
   height:8vh;
   align-self: center;
}

/* Styling for the form inside the main container */
#main-container .form-container {
    padding-left:5vw;
    padding-right:5vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Styling for the form inputs */
#main-container .form-container .main-input {
    height:5vh;
    width:100%;
    margin-bottom: 3vh;
    padding: 0.2vw;
    border-radius: 0.5vh;
    border: 0.1vh solid #D9D9D9;
}

/* Horizontal line separator */
#main-container hr{
    align-self: center;
    width:75%;
    border: 0.1vh solid #D9D9D9;
}

/* Styling for the "Remember Me" container */
#rememberMe-container{
    padding-top: 10%;
}

/* Styling for the login button */
#main-container .form-container #btn-login {
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 4vw;
    margin-right: 4vw;
    border-radius: 1vh;
    border: 0.1vh solid #fff;

    font-size: 2vb;
    font-weight: 800;
    color: #fff;
    background-color: #5CAEFA;
}

/* Styling for quotes inside the main container */
#main-container p{
    font-size: 1.3vb;
    padding-right: 4vw;
    padding-left: 4vw;
    padding-bottom:5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Media query for smaller screens (max-width: 1100px) */
@media (max-width:1100px){
    #main-container{
        width: 60vw;
        height: 75vw;
        padding-top:3vh;
        padding-left: 3vw;
        padding-right: 3vw;
        justify-content: center;
    }
}

/* Media query for even smaller screens (max-width: 600px) */
@media (max-width:600px){
    #main-container{
        width: 100vw;
        height: 100vh;
        padding-left: 2vw;
        padding-right: 2vw;
        justify-content: center;
    }
    #main-container form{
        padding-left:10vw;
        padding-top:2vh;
        padding-bottom:2vh;
        padding-right:10vw;
    }
    #main-container p{
        padding-left: 15vw;
        padding-right: 15vw;
    }
}

#password-container {
    position: relative;
    justify-content: center;
}

.eyeicon {
    position:absolute;
    top:18%;
    right:5%;
    z-index: 2;
    cursor: pointer;
}