<!-- Main container for the login form -->
<div id="main-container">
    <!-- Logo -->
    <img src="assets/images/logo.svg" alt="logo-company">
  
    <!-- Login form -->
    <div class="form-container">
      <!-- Username input -->
      <label for="username" class="main-label">Usuario</label>
      <input type="text" id="username" class="main-input" name="username" #email>
  
      <!-- Password input -->
      <label for="password" class="main-label">Contraseña</label>
      <div id="password-container">
        <input type="password" id="password" class="main-input" name="password" #password [type]="changetype?'password':'text'">
        <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i>
        </span>
      </div>
  
      <!-- Login button -->
      <button type="submit" id="btn-login" (click)="signInUser(email.value,password.value)">INICIAR SESIÓN</button>
  
      <!-- Remember me checkbox -->
      <div id="rememberMe-container">
        <input type="checkbox" id="rememberMe" name="rememberMe">
        <label for="rememberMe">Recordarme</label>
      </div>
  
    </div>
  
    <!-- Information about password recovery -->
    <hr>
    <p>En caso de olvidar la contraseña, por favor, contáctese con el Administrador del Sistema</p>
  </div>