/* Styling for the credits section */
#credits{
    font-size: 1.2vb;
    bottom: 0;
    left: 0;
    width: 100%;

    font-family: "Inter", sans-serif;
    position: fixed;
    text-align: center;
}