
<div class="container">
  <div class="header-container">
    <h1>Empleados</h1>
  </div>

  <div class="row mb-3">
    <div class="col-md-4 mb-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar: Estado, Nombre, Periodo de Pago"
               aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="B">
                <i class="fas fa-search"></i>
            </span>
      </div>
    </div>

    <div class="col-md-8 d-flex justify-content-end mb-3">
      <button class="btn btn-primary-border" (click)="newEmployee()" >Crear Nuevo Empleado</button>
    </div>
  </div>


  <div class="table-responsive">
    <table class="table table-custom-primary">
      <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">No. Cedula</th>
        <th scope="col">No. Contrato</th>
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Fecha Fin</th>
        <th scope="col">Salario</th>
        <th scope="col">Tipo Contrato</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of displayedEmployees">
        <td>{{ employee.firstName }} {{ employee.lastName }}</td>
        <td>{{ employee.idCard }}</td>
        <td>{{ employee.contract.length > 0 ? employee.contract[0].id : '' }}</td>
        <td>{{ employee.contract.length > 0 ? (employee.contract[0].startDate | date:'yyyy-MM-dd') : '' }}</td>
        <td>{{ employee.contract.length > 0 ? (employee.contract[0].endDate | date:'yyyy-MM-dd') : '' }}</td>
        <td>{{ employee.contract.length > 0 ? (employee.contract[0].baseSalary | currency:'USD':true:'1.2-2') : '' }}</td>
        <td>{{ employee.contract.length > 0 ? employee.contract[0].totalSalary : '' }}</td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-start align-items-center mt-3">
      <button type="button" class="btn mx-1" (click)="previousPage()">
        <i class="fas fa-chevron-left icon-color"></i>
      </button>
      <div>Página {{ currentPage }} de {{ totalPages }}</div>
      <button type="button" class="btn mx-1" (click)="nextPage()">
        <i class="fas fa-chevron-right icon-color"></i>
      </button>
    </div>

  </div>

</div>
