<app-sidebar></app-sidebar>

<div class="container">

  <div class="header-container">
    <h1>Información General</h1>
  </div>

  <p>Un lugar para administrar tu información, plan, integraciones y configuración de documentos, que te permite
    personalizar los productos de StockWage a tus necesidades.</p>
  <div class="row">
    <div class="col-md-6">
      <app-info-profile/>
      <app-info-services/>
    </div>
    <div class="col-md-6">
      <div class="col">
        <div class="col-md-12 mb-4">
          <app-info-plan/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-info-support/>
        </div>
      </div>
    </div>
  </div>

</div>

