<div class="container">
    <div class="header-container">
      <h1>Info. general</h1>
      <h5>/Config. usuario</h5>
    </div>
    <p>Cualquier cambio que hagas se aplicará a tus cuentas de StockWage.</p>


    <form class="mt-3" action="tu_accion" method="POST">
        <h5 class="col-12 col-md-12 text-md-start text-center">Configuración de perfil</h5>
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="nombreEmpleadoNuevo" class="form-label">Nombre</label>
            <input type="text" id="nombreEmpleadoNuevo" name="nombreEmpleadoNuevo" class="form-control" required>
          </div>
    
          <div class="col-md-4">
            <label for="apellidoEmpleadoNuevo" class="form-label">Apellidos</label>
            <input type="text" id="apellidoEmpleadoNuevo" name="apellidoEmpleadoNuevo" class="form-control" required>
          </div>
        </div>
  
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="nombreEmpleadoNuevo" class="form-label">Cargo</label>
            <input type="text" id="nombreEmpleadoNuevo" name="nombreEmpleadoNuevo" class="form-control" required>
          </div>
    
          <div class="col-md-4">
            <label for="apellidoEmpleadoNuevo" class="form-label">Correo electrónico</label>
            <input type="text" id="apellidoEmpleadoNuevo" name="apellidoEmpleadoNuevo" class="form-control" required>
          </div>
        </div>
  
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="nombreEmpleadoNuevo" class="form-label">Teléfono</label>
            <input type="text" id="nombreEmpleadoNuevo" name="nombreEmpleadoNuevo" class="form-control" required>
          </div>
    
          <div class="col-md-4">
            <label for="apellidoEmpleadoNuevo" class="form-label">Celular</label>
            <input type="text" id="apellidoEmpleadoNuevo" name="apellidoEmpleadoNuevo" class="form-control" required>
          </div>
        </div>

        <hr>

        <h5 class="col-12 col-md-12 text-md-start text-center">Configuración de empresa</h5>
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="nombreEmpleadoNuevo" class="form-label">Industria</label>
            <input type="text" id="nombreEmpleadoNuevo" name="nombreEmpleadoNuevo" class="form-control" required>
          </div>
    
          <div class="col-md-4">
            <label for="apellidoEmpleadoNuevo" class="form-label">Negocio</label>
            <input type="text" id="apellidoEmpleadoNuevo" name="apellidoEmpleadoNuevo" class="form-control" required>
          </div>
        </div>
  
        <div class="row mb-5">
          <div class="col-md-4">
            <label for="nombreEmpleadoNuevo" class="form-label">RUT</label>
            <input type="text" id="nombreEmpleadoNuevo" name="nombreEmpleadoNuevo" class="form-control" required>
          </div>
    
          <div class="col-md-4">
            <label for="apellidoEmpleadoNuevo" class="form-label">Número de empleados</label>
            <input type="text" id="apellidoEmpleadoNuevo" name="apellidoEmpleadoNuevo" class="form-control" required>
          </div>
        </div>

        <hr>

        <h5 class="col-12 col-md-12 text-md-start text-center">Sucursales / Almacenes</h5>
        <div class="row mb-3">
            <div class="col-md-4">
              <label for="nombreEmpleadoNuevo" class="form-label">Dirección</label>
              <input type="text" id="nombreEmpleadoNuevo" name="nombreEmpleadoNuevo" class="form-control" required>
            </div>
      
            <div class="col-md-4">
              <label for="apellidoEmpleadoNuevo" class="form-label">Nombre</label>
              <input type="text" id="apellidoEmpleadoNuevo" name="apellidoEmpleadoNuevo" class="form-control" required>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-secondary py-2">Nueva sucursal</button>
          </div>
        <hr>

        <h5 class="col-12 col-md-12 text-md-start text-center">Cambio de contraseña</h5>
        <div class="row mb-5">
            <div class="col-md-4">
              <label for="nombreEmpleadoNuevo" class="form-label">Nueva Contraseña</label>
              <input type="text" id="nombreEmpleadoNuevo" name="nombreEmpleadoNuevo" class="form-control" required>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
              <label for="nombreEmpleadoNuevo" class="form-label">Repetir Contraseña</label>
              <input type="text" id="nombreEmpleadoNuevo" name="nombreEmpleadoNuevo" class="form-control" required>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
              <label for="nombreEmpleadoNuevo" class="form-label">Contraseña Actual</label>
              <input type="text" id="nombreEmpleadoNuevo" name="nombreEmpleadoNuevo" class="form-control" required>
            </div>
        </div>
        <hr>
          <div class="col-md-12 align-items-center">
            <button class="btn btn-primary py-3 mx-auto">Guardar cambios</button>
          </div>
      </form>
    
</div>
