<div class="d-flex flex-wrap container justify-content-center">
    <div class="col-lg-6 col-md-3 mb-4 mx-2 d-flex flex-wrap">
        <h1 class="pt-5 title" style="color: #21325B; font-weight:600;">Simplifica la gestión  para lograr el éxito deseado.</h1>
        <h5 class="pt-1 pb-5 title" style="color: #21325B; font-weight:300;">Una solución integral que brinda gestión empresarial completa, control de inventarios y claridad financiera con herramientas avanzadas de contabilidad.</h5>
        <div class="images d-flex flex-wrap">
            <img class="p-3 mx-2 small-img" src="/../assets/pages/landing-page/about-us/Stall1.svg" alt="Stall">
            <img class="p-3 mx-2 small-img" src="/../assets/pages/landing-page/about-us/Transaction2.svg" alt="Transaction">
            <img class="p-3 mx-2 small-img" src="/../assets/pages/landing-page/about-us/ComboChart3.svg" alt="Combo">
            <img class="p-3 mx-2 small-img" src="/../assets/pages/landing-page/about-us/GraphReport4.svg" alt="Graph">
            <img class="p-3 mx-2 small-img" src="/../assets/pages/landing-page/about-us/People5.svg" alt="People">
        </div>
    </div>
    <div class="bg-black h-200 col-lg-4 col-md-4 mb-4 mx-2">
        <p>a</p>
    </div>
</div>
