<div class="container border border-grey rounded p-3">
    <p>CONFIGURACIÓN DE USUARIO</p>
    <h5>Información del usuario</h5>
    <p>Puedes editar tu nombre, dirección de correo electrónico y contraseña.</p>

    <hr>

    <div class="row">
        
        <div class="col-md-4">
            <p>CORREO ELECTRÓNICO</p>
        </div>
        <div class="col-md-8">
            <p>andresarmandojaveriana.edu.co</p>
        </div>
        
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>CONTRASEÑA</p>
        </div>
        <div class="col-md-8">
            <p>**********</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>NOMBRE</p>
        </div>
        <div class="col-md-8">
            <p>Andrés Armando</p>
        </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>APELLIDO</p>
        </div>
        <div class="col-md-8">
            <p>Castilblanco Montoya</p>
        </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>CARGO</p>
        </div>
        <div class="col-md-8">
            <p>Presidente</p>
        </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>TELÉFONO</p>
        </div>
        <div class="col-md-8">
            <p>4115231</p>
        </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>CELULAR</p>
        </div>
        <div class="col-md-8">
            <p>(+57) 310 467 1234</p>
        </div>
    </div>
    
    <hr>

    <p>CONFIGURACIÓN DE EMPRESA</p>
    <h5>Información de la empresa</h5>
    <p>Puedes editar el nombre y la información general de la empresa.</p>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>INDUSTRIA</p>
        </div>
        <div class="col-md-8">
            <p>Software</p>
        </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>NEGOCIO</p>
        </div>
        <div class="col-md-8">
            <p>SalesForce</p>
        </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>RUT</p>
        </div>
        <div class="col-md-8">
            <p>ABC123123123</p>
        </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>EMPLEADOS</p>
        </div>
        <div class="col-md-8">
            <p>200</p>
        </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-md-12 text-end">
            <a href="#">Ver más en configuración general</a>
        </div>
    </div>
    
</div>
