<div class="container border border-grey rounded p-3">
    <p>CONFIGURACIÓN DE USUARIO</p>
    <h5>Información del usuario</h5>
    <p>Puedes editar tu nombre, dirección de correo electrónico y contraseña.</p>

    <hr>

    <div class="row">

        <div class="col-md-4">
            <p>CORREO ELECTRÓNICO</p>
        </div>
        <div class="col-md-8">
            <p>{{ rootProfile.email }}</p>
        </div>

    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>NOMBRE</p>
        </div>
        <div class="col-md-8">
            <p>{{ rootProfile.name }}</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>APELLIDO</p>
        </div>
        <div class="col-md-8">
            <p>{{ rootProfile.lastname }}</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>CARGO</p>
        </div>
        <div class="col-md-8">
            <p>{{ rootProfile.role }}</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>TELÉFONO</p>
        </div>
        <div class="col-md-8">
            <p>{{ rootProfile.phone }}</p>
        </div>
    </div>

    <hr>
    <p>CONFIGURACIÓN DE EMPRESA</p>
    <h5>Información de la empresa</h5>
    <p>Puedes editar el nombre y la información general de la empresa.</p>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>INDUSTRIA</p>
        </div>
        <div class="col-md-8">
            <p>{{ company.businessArea }}</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>NEGOCIO</p>
        </div>
        <div class="col-md-8">
            <p>{{ company.name }}</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>NIT</p>
        </div>
        <div class="col-md-8">
            <p>{{company.NIT}}</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <p>EMPLEADOS</p>
        </div>
        <div class="col-md-8">
            <p>{{ company.employeeNumber }}</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12 text-end">
            <a href="/home/admin/configinfo">Ver más en configuración general</a>
        </div>
    </div>

</div>
