<div class="container">
  <h5>Crear Nuevo Artículo</h5>
  <div>
    <h6>Información General</h6>
    <div class="container edit-info">
      <div class="row">
        <div class="form-group col-md-3 mb-3">
          <label for="id">Id Artículo</label>
          <input type="text" class="form-control" id="id" placeholder="Id Artículo" [(ngModel)]="newProduct.id" disabled>
        </div>
        <div class="form-group col-md-3 mb-3">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" placeholder="Nombre" [(ngModel)]="newProduct.name" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3 mb-3">
          <label for="category">Categoría</label>
          <input type="text" class="form-control" id="category" [(ngModel)]="newProduct.category" placeholder="Categoría">
        </div>
        <div class="form-group col-md-3 mb-3">
          <label for="description">Descripción</label>
          <input type="text" class="form-control" id="description" [(ngModel)]="newProduct.description" placeholder="Descripción">
        </div>
      </div>
      <div class="row mb-3">
        <div class="form-group col-md-3">
          <label for="sellPrice">Precio de venta</label>
          <input type="text" class="form-control" id="sellPrice" [(ngModel)]="newProduct.sellPrice" placeholder="Tipo de servicio" required>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h6>Información de Stock</h6>
    <div class="container edit-info">
      <div *ngFor="let branchProduct of branchesProducts; let i = index" class="row mb-3">
        <div class="form-group col-md-1">
          <label for="enable-{{i}}">Activar</label>
          <input
            type="checkbox"
            id="enable-{{i}}"
            [(ngModel)]="branchProduct.enabled"
            (change)="handleBranchToggle(branchProduct, i)"
          />
        </div>

        <div class="form-group col-md-3">
          <label for="branch-{{i}}">Sucursal</label>
          <input type="text" class="form-control" id="branch-{{i}}" [(ngModel)]="branchProduct.branchName" disabled>
        </div>

        <div class="form-group col-md-2">
          <label for="quantity-{{i}}">Cantidad</label>
          <input
            type="number"
            class="form-control"
            id="quantity-{{i}}"
            [(ngModel)]="branchProduct.quantity"
            placeholder="Cantidad"
            [disabled]="!branchProduct.enabled"
          />
        </div>

        <div class="form-group col-md-2">
          <label for="discount-{{i}}">Descuento</label>
          <input
            type="number"
            class="form-control"
            id="discount-{{i}}"
            [(ngModel)]="branchProduct.discount"
            placeholder="Descuento"
            [disabled]="!branchProduct.enabled"
          />
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3" (click)="createProdcut()">Agregar</button>
    <button class="btn btn-danger-border mt-3 mx-3" (click)="disableProductComponent()">Cancelar</button>

  </div>

</div>
