<div class="container border border-grey rounded p-3 min-vh-50">
    <p>PLANES Y FACTURACIÓN</p>
    <h5>Plan Actual</h5>
    <p>Puedes editar tu suscripción actual y acceder a los productos de StockWage.</p>

    <hr>

    <div class="row">
        
        <div class="col-md-2">
            <p>FREE TRIAL</p>
        </div>
        <div class="col-md-3">
            <p>Gratis</p>
        </div>
        <div class="col-md-4">
            <p>Máximo 5 usuarios</p>
        </div>
        <div class="col-md-3">
            <a>CAMBIAR PLAN</a>
        </div>
        
    </div>

    <hr>

    <div class="row">
        
        <div class="col-md-2">
            <p>SILVER</p>
        </div>
        <div class="col-md-3">
            <p>25 dólares</p>
        </div>
        <div class="col-md-4">
            <p>Máximo 20 usuarios</p>
        </div>
        <div class="col-md-3">
            <a>PROBAR AHORA</a>
        </div>
        
    </div>

    <hr>

    <div class="row">
        
        <div class="col-md-2">
            <p>GOLDEN</p>
        </div>
        <div class="col-md-3">
            <p>50 dólares</p>
        </div>
        <div class="col-md-4">
            <p>Usuarios ilimitados</p>
        </div>
        <div class="col-md-3">
            <a>PROBAR AHORA</a>
        </div>
        
    </div>

    <hr>
    <p>Comunícate con los administradores de tu cuenta si tienes preguntas sobre el estado o resultado de tu solicitud de licencia</p>
</div>