<div *ngIf="actualPlan">
  <div class="container border border-grey rounded p-3 min-vh-50">
    <p>PLANES Y FACTURACIÓN</p>
    <h5>Plan Actual</h5>
    <div class="row">
      <div class="col-md-2">
        <p>{{ actualPlan.type }}</p>
      </div>
      <div class="col-md-3">
        <p>{{ actualPlan.mensual_price }} dólares/mes</p>
      </div>
      <div class="col-md-4">
        <p>Máximo {{ actualPlan.maxUsers }} usuarios</p>
      </div>
      <div class="col-md-3">
        <a href="/home/admin/configpayment">CAMBIAR PLAN</a>
      </div>
    </div>
    <hr>

    <div *ngFor="let plan of plansAvailable">
      <div class="row">
        <div class="col-md-2">
          <p>{{ plan.type }}</p>
        </div>
        <div class="col-md-3">
          <p>{{ plan.mensual_price }} dólares/mes</p>
        </div>
        <div class="col-md-4">
          <p>Máximo {{ plan.maxUsers }} usuarios</p>
        </div>
        <div class="col-md-3">
          <a href="/home/admin/configpayment">PROBAR AHORA</a>
        </div>
      </div>
      <hr>
    </div>
    <p>Comunícate con los administradores de tu cuenta si tienes preguntas sobre el estado o resultado de tu solicitud de licencia</p>
  </div>
</div>
