<h4>Datos de facturación</h4>
<h6>Historial de facturación</h6>
<p>No hay facturas por mostrar</p>
<div *ngFor="let bill of historic">
  <div class="row">
    <div class="col-md-12">
      <!--TODO: Model correctly the historic and redirect to a pdf bill-->
      <h5>{{ bill.plan }}</h5>
      <p>FACTURA #</p>
      <!--TODO: Redirect to a generate pdf with that specific bill-->
      <a href="">{{bill.id }}</a>
      <p>FECHA DE INICIO</p>
      <p>{{ bill.initial_date }}</p>
      <p>FECHA DE FINALIZACIÓN</p>
      <p>{{ bill.final_date }}</p>
      <p>FECHA DE PAGO</p>
      <p>{{ bill.payment_date }}</p>
      <p>MONTO</p>
      <p>{{ bill.amount }}</p>
      <p>ESTADO</p>
      <p>{{ bill.active }}</p>
      <p>MÉTODO DE PAGO</p>
      <p>{{ bill.payment_method }}</p>

    </div>
  </div>
</div>
