p, label{
    font-weight: 200;
}

.btn{
    width: 100%;
}

@media (max-width: 576px) {
    .container {
      width: 100% !important;
      margin: 0 auto; /* Para centrar el contenedor */
    }
  }