
<div class="d-flex justify-content-center p-5">
    <div class="container">
    
        <!-- Logo -->
        <img class="col-sm-12 col-md-3" src="assets/images/logo.svg" alt="logo-company">
      
        <p class="col-12 col-md-12 text-md-start text-center">Desde el primer contacto con un cliente potencial hasta la gestión de cuentas existentes, las negocios pueden lograr interacciones exitosas con los clientes mediante un enfoque estratégico en la relación cliente-empresa.</p>
        <h5 class="col-12 col-md-12 text-md-start text-center">Explora nuevas formas de conectar con tus clientes comerciales</h5>
      
      
        <form class="mt-3" action="tu_accion" method="POST">
      
            <div class="row mb-3">
                <h5 class="col-12 col-md-12 text-md-start text-center">Descuentos</h5>
                <div class="col-md-6">
                    <label for="nombreEmpleadoNuevo" class="form-label">Cupón</label>
                    <input type="text" id="nombreEmpleadoNuevo" name="nombreEmpleadoNuevo" class="form-control" required>
                </div>
        
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <p class="col-12 col-md-12 text-md-start text-center">Cupón válido hasta la siguiente fecha</p>
                </div>
            </div>

            <h5 class="col-12 col-md-12 text-md-start text-center">Método de pago</h5>
            <p class="col-12 col-md-12 text-md-start text-center">Selecciona un método de pago</p>

            <div class="m-5">
                <div class="form-check-inline text-center">
                    <label class="form-check-label" for="masculinoEmpleadoNuevo">VISA</label><br>
                    <input class="form-check-input" type="radio" name="sexo" id="masculinoEmpleadoNuevo" value="masculino" required>
                </div>
                <div class="form-check-inline text-center">
                    <label class="form-check-label" for="femeninoEmpleadoNuevo">MasterCard</label><br>
                    <input class="form-check-input" type="radio" name="sexo" id="femeninoEmpleadoNuevo" value="femenino" required>
                </div>
                <div class="form-check-inline text-center">
                    <label class="form-check-label" for="femeninoEmpleadoNuevo">American Express</label><br>
                    <input class="form-check-input" type="radio" name="sexo" id="femeninoEmpleadoNuevo" value="femenino" required>
                </div>
                <div class="form-check-inline text-center">
                    <label class="form-check-label" for="femeninoEmpleadoNuevo">PSE</label><br>
                    <input class="form-check-input" type="radio" name="sexo" id="femeninoEmpleadoNuevo" value="femenino" required>
                </div>
                <div class="form-check-inline text-center">
                    <label class="form-check-label" for="femeninoEmpleadoNuevo">Dinners Club</label><br>
                    <input class="form-check-input" type="radio" name="sexo" id="femeninoEmpleadoNuevo" value="femenino" required>
                </div>
                <div class="form-check-inline text-center">
                    <label class="form-check-label" for="femeninoEmpleadoNuevo">Paypal</label><br>
                    <input class="form-check-input" type="radio" name="sexo" id="femeninoEmpleadoNuevo" value="femenino" required>
                </div>
                <div class="form-check-inline text-center">
                    <label class="form-check-label" for="femeninoEmpleadoNuevo">Efecty</label><br>
                    <input class="form-check-input" type="radio" name="sexo" id="femeninoEmpleadoNuevo" value="femenino" required>
                </div>
            </div>
    

          <div class="row mb-5">
            <h5 class="col-12 col-md-12 text-md-start text-center">Datos del titular</h5>
            <div class="col-md-6">
              <label for="nombreEmpleadoNuevo" class="form-label">Nombre del titular</label>
              <input type="text" id="nombreEmpleadoNuevo" name="nombreEmpleadoNuevo" class="form-control" required>
            </div>
      
            <div class="col-md-6">
              <label for="apellidoEmpleadoNuevo" class="form-label">Fecha de expiración</label>
              <input type="text" id="apellidoEmpleadoNuevo" name="apellidoEmpleadoNuevo" class="form-control" required>
            </div>
          </div>
          <div class="row mb-4">
    
            <div class="col-md-12">
                <label for="auxilioNuevoEmpleado" class="form-label d-flex align-items-center">
                <input type="checkbox" id="auxilioNuevoEmpleado" name="auxilioNuevoEmpleado" class="me-2">
                Al utilizar nuestra pasarela de pagos, usted declara haber leído, comprendido y aceptado los términos y condiciones establecidos en este documento. Además, usted reconoce que el uso continuado de nuestros servicios constituye su aceptación de estos términos y condiciones. Si no está de acuerdo con alguno de estos términos, le rogamos que no utilice nuestros servicios.
                </label>
            </div>
            </div>
    
            <div class="col-md-12">
              <button class="btn btn-primary py-3">Pagar</button>
            </div>
        </form>
      </div>
    </div>