<!-- Main container for the login form -->
<div id="main-container">
    <!-- Logo -->
    <img src="assets/images/logo.svg" alt="logo-company">
    <div id="text-container">
      <p>¿Experimentas dificultades al acceder?</p>
      <p> • Los nombres de usuario siguen el formato de una dirección de correo electrónico.</p>
      <p> • Las contraseñas son sensibles a mayúsculas y minúsculas.</p>
      <p>Si necesita restablecer su contraseña, por favor ingrese su nombre de usuario de StockWage:</p>
    </div>
    

    <!-- Login form -->
    <div class="form-container">
      <!-- Username input -->
      <label for="username" class="main-label">Nombre de Usuario</label>
      <input type="text" id="username" class="main-input" name="username" #email>
  
      <!-- Login button -->
      <div id="description">
        <button type="submit" id="btn-cancel">Cancelar</button>
        <button type="submit" id="btn-continue">Continuar</button>
      </div>

    </div>
    
  </div>