<h4>Tu plan actual</h4>

<div class="container border border-grey rounded p-4 mb-5">
    <h5>Free Trial</h5>
    <p>Gratis</p>

</div>

<h4>Planes disponibles</h4>

<div class="container border border-grey rounded p-4 mb-5">
    <div class="row">
        <div class="col-md-12">
            <h5>Plan Golden</h5>
            <p>Desbloquea posibilidades ilimitadas para un control total y expansión empresarial.</p>
            <div class="header-container">
                <h3>$25</h3>
                <h6>/mes</h6>
            </div>
            <p>Con la facturación semestral, $23 /mes</p>
            <p>Con la facturación anual, $20 /mes</p>
            <a class="btn btn-primary" href="/payment">Comprar plan</a>
        </div>
    </div>
</div>


<div class="container border border-grey rounded p-4 mb-5">
    <div class="row">
        <div class="col-md-12">
            <h5>Plan Silver</h5>
            <p>Desbloquea posibilidades ilimitadas para un control total y expansión empresarial.</p>
            <div class="header-container">
                <h3>$25</h3>
                <h6>/mes</h6>
            </div>
            <p>Con la facturación semestral, $23 /mes</p>
            <p>Con la facturación anual, $20 /mes</p>
            <a class="btn btn-primary" href="/payment">Comprar plan</a>
        </div>
    </div>
</div>
