<app-sidebar></app-sidebar>
<div class="container">
  <h1>Nómina Electrónica</h1>

  <section>
    <h2>Perfil de Compañía</h2>
    <p>Diligencia la información que tienes registrada ante la DIAN. Recuerda que debe corresponder a la información que tienes en RUT de tu empresa</p>
    <form>
      <div class="form-group full-width">
        <label for="tipoRazonSocial">Tipo de razón social</label>
        <div class="radio-group">
          <label for="empresa"><input type="radio" id="empresa" name="tipoRazonSocial"> Empresa</label>
          <label for="personaNatural"><input type="radio" id="personaNatural" name="tipoRazonSocial"> Persona Natural</label>
        </div>
      </div>
      <div class="form-group">
        <label for="razonSocial">Razón Social</label>
        <input type="text" id="razonSocial" placeholder="Razón Social">
      </div>
      <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <input type="email" id="email" placeholder="Correo Electrónico">
      </div>
      <div class="form-group">
        <label for="ciudad">Ciudad</label>
        <input type="text" id="ciudad" placeholder="Ciudad">
      </div>
      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" placeholder="Dirección">
      </div>
      <div class="form-group full-width">
        <label for="numeroDeTelefono">Número de Teléfono</label>
        <input type="text" id="numeroDeTelefono" placeholder="Número de Teléfono">
      </div>
    </form>
  </section>

  <!-- Nueva sección Representante Legal -->
  <section>
    <h2>Representante Legal</h2>
    <form>
      <div class="form-group full-width">
        <label for="nombreCompleto">Nombre Completo</label>
        <input type="text" id="nombreCompleto" placeholder="Nombre Completo" class="nombre-completo">
      </div>
      <div class="form-group">
        <label for="tipoIdentificacion">Tipo de Identificación</label>
        <input type="text" id="tipoIdentificacion" placeholder="Tipo de Identificación">
      </div>
      <div class="form-group">
        <label for="numeroIdentificacion">Número de Identificación</label>
        <input type="text" id="numeroIdentificacion" placeholder="Número de Identificación">
      </div>
      <div class="form-group">
        <label for="ciudadExpedicion">Ciudad de Expedición</label>
        <input type="text" id="ciudadExpedicion" placeholder="Ciudad de Expedición">
      </div>
      <div class="form-group">
        <label for="ciudadResidencia">Ciudad de Residencia</label>
        <input type="text" id="ciudadResidencia" placeholder="Ciudad de Residencia">
      </div>
    </form>
  </section>

  <section>
    <h2>Certificado Digital</h2>
    <p>Aun no cuentas con un certificado digital. Con este documento autorizas el uso del certificado digital de StockWage para el envió de nomina electrónica.</p>
    <ol>
      <li>
        <p>Descarga la carta y fírmarla</p>
        <button (click)="downloadPDF()">Descargar carta de exoneración</button>
      </li>
      <li>
        <p>Sube la carta firmada</p>
        <input type="file" id="fileInput" accept=".pdf" style="display: none;" (change)="onFileSelected()">
        <button (click)="onUploadButtonClick()">Selecciona un archivo</button>
        <p *ngIf="fileUploaded" class="file-uploaded">Archivo enviado</p>
      </li>
    </ol>
  </section>

  <section>
    <h2>Envío del set de pruebas</h2>
    <p>Para activar el set de pruebas, sigue estos pasos.</p>
    <form>
      <div class="form-group">
        <input type="text" placeholder="Identificador de set de pruebas">
      </div>
      <div class="form-group full-width">
        <button class="finalizar-activacion">Finalizar Activación</button>
      </div>
    </form>
  </section>
</div>
