.offcanvas-body {
  text-align: center;
}

.logo-container {
  text-align: center;
}

.user-container {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--bs-secondary);
}

.active {
  font-weight: bold;
}

.bottom-section {
  margin-top: auto;
  padding-bottom: 1rem;
}





